<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-MumTJ_jyxne84nGgTcA8nkEw04HS5Os</string>
	<key>GCM_SENDER_ID</key>
	<string>70833458190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spreadit.finjoy</string>
	<key>PROJECT_ID</key>
	<string>finjoy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>finjoy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70833458190:ios:2d8728abc250cc2fde005f</string>
</dict>
</plist>